

  #microphoneIcon {
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .chat-container {
    max-width: 600px;
    margin: auto;
  }

  .message {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
  }

  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .message-text {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
  }

  .other-message {
    /* background-color: #e0e0e0; */
    align-self: flex-start;
  }

  .user-message {
    /* background-color: #4285f4; */
    color: #fff;
    align-self: flex-end;
  }